language: generic
sudo: required
dist: xenial
git:
  submodules: false
addons:
  apt:
    sources:
      - sourceline: ppa:beineri/opt-qt-5.12.3-xenial
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
      - clang-5.0
      - python-software-properties
      - build-essential
      - cmake
      - cmake-data
      - qt512-meta-minimal
env:
  - COMPILER_NAME=gcc CXX=g++-4.9 CC=gcc-4.9
  - COMPILER_NAME=clang CXX=clang++-5.0 CC=clang-5.0
before_script:
  - git submodule update --init qt-creator
  - source /opt/qt512/bin/qt512-env.sh
  - mkdir build
  - cd build
  - cmake -DQMLFMT_VERSION:STRING=$TRAVIS_TAG ..

script: 
  - make
  - make check

after_success:
  - tar -czf qmlfmt.$COMPILER_NAME.tar.gz qmlfmt

deploy:
  provider: releases
  api-key: 
    secure: "TImQ2gleoniWmeG4CTGR0aaN+fsU27Bg6yAPK4t1ckI5O56LHYYrNDe6nhC/CEOmpKtT8nkkD53t/2MyheQWKqKUVXFQdk24t5kItOfypsZYMFU8XKmUMaGwMeD2BeI9hOqGISnD3bTgq/2aSX8CPuz8aXk9bkEqtagGNZGc80I="
  file: qmlfmt.$COMPILER_NAME.tar.gz
  skip_cleanup: true
  on:
    tags: true
    branch: master
