language: cpp
sudo: required
dist: trusty

compiler:
  - gcc

addons:
  apt:
    sources:
      - sourceline: ppa:george-edison55/cmake-3.x
      - sourceline: ppa:beineri/opt-qt-5.10.1-trusty
    packages:
      - g++
      - python-software-properties
      - build-essential
      - cmake
      - cmake-data
      - qt510-meta-minimal
      - qt510script

before_script:
  - source /opt/qt510/bin/qt510-env.sh
  - mkdir build
  - cd build
  - cmake ..

script: 
  - make
  - make check

after_success:
  - tar -czf qmlfmt.tar.gz qmlfmt

deploy:
  provider: releases
  api-key: 
    secure: "TImQ2gleoniWmeG4CTGR0aaN+fsU27Bg6yAPK4t1ckI5O56LHYYrNDe6nhC/CEOmpKtT8nkkD53t/2MyheQWKqKUVXFQdk24t5kItOfypsZYMFU8XKmUMaGwMeD2BeI9hOqGISnD3bTgq/2aSX8CPuz8aXk9bkEqtagGNZGc80I="
  file: qmlfmt.tar.gz
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
