version: 1.0.{build}
configuration: Release
platform: x64
image:
  - Ubuntu2204
  - Visual Studio 2019
environment:
  CTEST_OUTPUT_ON_FAILURE: 1
install:
- sh: sudo apt-get update -qq && sudo apt-get install -qq
- sh: sudo apt-get -y install libgl1-mesa-dev
- git submodule update --init --recursive
before_build:
- cmd: 'cmake ./ -G "Visual Studio 16 2019" -A x64 -DCMAKE_PREFIX_PATH=C:/Qt/6.2/msvc2019_64 -DQMLFMT_VERSION:STRING=%APPVEYOR_REPO_TAG_NAME% -DQMLFMT_COMMIT:STRING=%APPVEYOR_REPO_COMMIT%'
- sh: 'mkdir -p build; cd build; cmake .. -GNinja -DCMAKE_BUILD_TYPE=$Configuration -DCMAKE_PREFIX_PATH=$HOME/Qt/6.2.4/gcc_64 -DQMLFMT_VERSION:STRING=%APPVEYOR_REPO_TAG_NAME% -DQMLFMT_COMMIT:STRING=%APPVEYOR_REPO_COMMIT%'
build_script:
- cmd: msbuild qmlfmt.sln /p:Configuration=Release -maxcpucount
- sh: ninja qmlfmt
after_build:
- cmd: 7z a qmlfmt-windows.zip %APPVEYOR_BUILD_FOLDER%\Release\qmlfmt.exe
- sh: 7z a qmlfmt-linux.zip build/qmlfmt
test_script:
- cmd: >-
    set PATH=C:\Qt\6.2\msvc2019_64\bin;%PATH%

    msbuild check.vcxproj
- sh: ninja check
for:
  -
    matrix:
      only:
        - image: Visual Studio 2019
    artifacts:
     - path: qmlfmt-windows.zip
       name: qmlfmt-windows

  -
    matrix:
      only:
        - image: Ubuntu2204
    artifacts:
     - path: qmlfmt-linux.zip
       name: qmlfmt-linux
deploy:
- provider: GitHub
  auth_token:
    secure: XIz4qTwkoW4CJdlLJMCP0u5rVojet+W6/PtmACrj1cHfQym8RWpg57omgV3nCKME
  artifact: qmlfmt-linux, qmlfmt-windows
  on:
    branch: master
    APPVEYOR_REPO_TAG: true
branches:
  only:
  - master